<!DOCTYPE html>
<html>

<head>
	<title>Node.js with MongoDB(mLab)</title>
	<link rel="stylesheet" href="http://localhost:8000/main.css" />

	<!-- <link rel=”stylesheet” type=”text/css” href=”//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css” /> -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<!-- <script type=”text/javascript” src=”//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js”></script> -->
</head>

<body>
	<div class="stock-outer">
		<div class="stock-inner">
            <% for(var i = 0; i < data.length; i++) { %>

                <h3 class="stocker__title">
                    <%= data[i].companyName %>
                </h3>

                <div class="stock__field stock__symbol">
                    <p class="stock__brow">VOLUME</p>
                    <%= data[i].amount %>
                </div>
                <div class="stock__field stock__volume">
                    <p class="stock__brow">OWNER</p>
                    <%= data[i].belongsTo %>
                </div>

                <button type="button" data-mongo-id="<%= data[i]._id %>" id="mongo-link" >Sell</button>
            <% } %>
		</div>
	</div>

	<a class="btn btn-primary" role="button" href="http://localhost:8000">Home page</a> 
</body>

<script>

    $( document ).ready(function() {

        $("button").click(function() {
           unik = this.id; // or alert($(this).attr('id'));
            $.ajax({
                type: "DELETE",
                url: "share/" + $("#mongo-link").attr('data-mongo-id'),
                success : function( data) {
                    console.log('success');
                },
                error : function() {
                    console.log('error');
                }

            });



        });
    });


</script>

 </html>




